ul a{
    /* padding: 10px; */
    display: block;
    text-decoration: none;
}
ul a:hover{
    color: orange;
}
ul ul{
    display: none;
}
ul li:hover ul{
    display: block;
}
.col-4 a{
    text-decoration: none;
}
.bg-color{
    background-color:  #003366;
}